.titleProfile {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    cursor: pointer;
}
.icon {
    margin-right: 14px;
}
.profileName {
    font-weight: 700;
    font-size: 18px;
}
.profileComponent-img{
    width: 44px;
    height: 44px;
    border-radius: 100%;
    margin-right: 20px;
}