.icons {
    color: red;
    display: flex;
}
.icon {
    width: 25px;
    height: 25px;
    margin-right: 25px;
    &:last-child{
        margin-right: 0;
    }
    color: #262626;
    cursor: pointer;
}
.userProfile {
    margin-bottom: 24px;
}
.stories {
    display: flex;
    justify-content: space-between;
    &-item {
        margin-right: 25px;
    }
    &-item:last-child {
        margin-right: 0px;
    }
}