.icon-toggler {
    width: 10px;
    height: 5.5px;
    transform: rotate(180deg);
}
.button {
    display: flex;
    align-items: center;
    &.active{
        .icon-toggler{
            transform: rotate(0deg);
        }
    }
}
.text {
    margin-right: 5px;
}