.c-topLine {
    background: #FAFAFA;
    border-bottom: 1px solid #C6C6C8;
    padding: 42px 0 32px;
    margin-bottom: 32px;
}

.content {
    margin-top: 37px;
}
.headLine {
    display: flex;
    align-items: center;
    justify-content: space-between;
}